connexion==2.6.0
python_dateutil == 2.6.0
setuptools >= 21.0.0
web3==4.10.0
Werkzeug
json-rpc-3 
azure-common 
azure-core
azure-identity
azure-keyvault==1.1.0
azure-keyvault-certificates
azure-keyvault-ethereum-py
azure-keyvault-keys
azure-keyvault-secrets
azure-nspkg
